body {
    position: relative;
}
.affix {
    top:0;
    width: 100%;
    z-index:100;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.my-content {
    padding-top: 50px;
    height: 500px;
}