@font-face {
    font-family: 'Lora';
    src: url('./../fonts/Lora-Regular.ttf');
}

@font-face {
    font-family: 'LoraBold';
    src: url('./../fonts/Lora-Bold.ttf');
}

@font-face {
    font-family: 'LoraItalic';
    src: url('./../fonts/Lora-Italic.ttf');
}

@font-face {
    font-family: 'LoraBoldItalic';
    src: url('./../fonts/Lora-BoldItalic.ttf');
}

body {
    position: relative;
    font: normal 14px Lora;
    text-align: center;
}

h3 {
    text-align: center;
}

.dl-horizontal dd {
    text-align: left;
}

.affix {
    top:0;
    width: 100%;
    z-index:100;
}
.navbar {
    margin-bottom: 0;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.content {
    padding-top: 50px;
}

.col-sm-4 > .photo-vertical {
    max-width: 400px;
    margin: auto;
}

.col-sm-12 > .photo-horizontal {
    max-width: 900px;
    margin: auto;
}

.header-bg {
    width: 100%;
    height: 500px;
    background-image: url(./../images/DaO.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
}

.modal-do {
    text-align: left;
    margin: 10px;
}

.footer {
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}
